APP_ENV=development
APP_NAME=Employee Attrition API
APP_VERSION=0.1.0

HOST=127.0.0.1
PORT=8000

MODEL_PATH=artifacts/model/model.joblib

DATABASE_URL=postgresql://user:password@localhost:5432/employee_attrition_db

HF_SPACE_REPO=zsdata-git/employee-attrition-api